name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Check on ${{ matrix.rust }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.61.0 # MSRV
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v3
      - name: Install ${{ matrix.rust }}
        run: |
          rustup toolchain install ${{ matrix.rust }} --profile minimal --component rustfmt,clippy
          rustup default ${{ matrix.rust }}

      - name: Run cargo check
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo check --no-default-features

      - name: Run cargo fmt
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        # Run clippy only on stable to ignore unreasonable old warnings.
        continue-on-error: ${{ matrix.rust != 'stable' }}
        run: cargo clippy --no-default-features -- -D warnings -W clippy::nursery

      - name: Run cargo test (openblas)
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo test --release --no-default-features --features openblas

      - name: Run cargo test (netlib)
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo test --release --no-default-features --features netlib

      - name: Run cargo test (intel-mkl)
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo test --release --no-default-features --features intel-mkl

      - name: Run cargo doc
        continue-on-error: ${{ matrix.rust == 'nightly' }}
        run: cargo doc --no-deps --no-default-features
